@charset "utf-8";
// 文章標題
h1.title{
    // line-height: 1.25em;
    // margin:.4em 0;
    font-size: 1.75em;
    line-height: 1.25em;
    position: relative;
    border-bottom: 4px solid #4a7aad;
    display: inline-block;
    padding-bottom: 5px;
  }
  h3.block_title {
    font-size: 1.5em;
    padding: 12px 0px;
    margin: 0.5em 0px;
    border-bottom: 3px solid $primaryColor;
  }
  .cp {
    // &.small_size {
    //     font-size: .938em;
    // }
    // &.large_size {
    //     font-size: 1.125em;
    // }
    ol.cjk>li{
      list-style-type: cjk-ideographic;
    }
    ol ol,ol ul,ul ul,ul ol{
      margin-bottom: .5em;
    }
    table {
      background: #FFF;
      margin-bottom: 20px;
      caption{
        text-align: center;
      }
      ol,ul{
        margin-bottom: .5em;
      }
      th{
        line-height: 1.45em;
        background: #ececec;
        color: #444;
        border: #ccc 1px solid;
      }
      td{
        border: #ccc 1px solid;
      }
      p{
        margin-bottom: 0;
      }
    }


    .cp_pic{
      .caption{
        font-size:0.938em;
        background: #F2F2F1;
        padding: .2em .8em;
        text-align: center;
        letter-spacing: .05em;
      }
      img {

      }
      &.float_left {
        float: left;
        margin: 8px 1em 1em 0;
        width: auto;
        max-width: 55%;
        @include screen('mobile') {
          float: none;
          max-width: 100%;
          margin: 0px auto;
        }
      }
      &.float_right {
        float: right;
        margin: 8px 0 1em 1em;
        width: auto;
        max-width: 55%;
        @include screen('mobile') {
          float: none;
          max-width: 100%;
          margin: 0px auto;
        }
      }
    }  
    a {
      @include aSetting;
      text-decoration: underline;
      &:hover,&:focus{
        text-decoration: none;
            // box-shadow: 0 0 0 0;
          }
        }
        .info {
          font-size: 0.938em;
          line-height: 1.5em;
          list-style: none;
          margin: 0 0 1.5em 0;
          border-left: solid 5px $primaryColor;
          @include box-sizing;
          padding: 0.8em 1.5em 0.8em;
          background: #F2F2F2;
          @extend %clearfix;
          li {
            width: 32%;
            display: inline-block;
            vertical-align: top;
            @include screen('tablet') {
              width: 48%;
              margin-bottom: .2em;
              font-size: 0.875em;
            }
            @include screen('mobile') {
              width: 100%;
              display: block;
            }
          }
        } 
      }
      .cp_slider{
        .slick-dots li button:before {
          width: 12px;
          height: 12px;
          background: #666;
          content: '';
        }
        .slick-dots li.slick-active button:before {
          background: $primaryColor;
        }
      }
// cp function panel setting
.function_panel {
  text-align: left;
  margin: .2em 0;
    // padding: .5em 0 .2em;
    min-height: 35px;
    // border-top: 1px solid #DDD;
    // border-bottom: 1px solid #DDD;
    @include screen('mobile') {
      margin:0;
      padding: 0 0 .5em;
    }
    .share {
      display: inline-block;
      vertical-align: top;
    }
    .function {
      display: inline-block;
      vertical-align: top;
    }
    .publish_time {
      float: right;
      min-width: 100px;
      display: block;
      margin-top: .6em;
      color:#666;
      span{
        font-size:.938em;
        @include screen('mobile') {
          display:none;
        }
      }
      time{
        font-family:georgia;
        font-size:1.125em;
        @include screen('mobile') {
          font-size:.938em;
        }
      }
      &:before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        top:.3em;
        background: url(../images/basic/icon_time.png) no-repeat center center;
        background-size: 12px;
      }
    }
  }
// 文章標籤
// div.tag{
//     @extend %clearfix;
//     padding: .5em 0;
//     margin-bottom: .5em;
//     &:before{
//         display:inline-block;
//         content:"";
//         width:16px;
//         height: 16px;
//         position:relative;
//         top:.2em;
//         background:url(../images/basic/icon_tag.png) no-repeat center center;
//         background-size:16px;
//     }
//     ul{
//         display:inline-block;
//         @include li-reset;
//         li{
//             display:inline-block;
//             margin: 0 .2em .2em 0;
//             a{
//                 display:block;
//                 font-size:.813em;
//                 @include aSetting_nocolor;
//                 border-radius:4px;
//                 border:1px solid #DDD;
//                 padding:.2em .5em;
//             }
//         }
//     }
// }

// 檔案下載
.file_download {
  width: 100%;
  margin: 0 auto;
  @include clearfix();
  ul {
    counter-reset: counter;
    padding: 0;
    margin-left: 0;
  }
  li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
    border-bottom: 1px solid #EEE;
    clear: both;
    overflow: hidden;
    padding-bottom: .7em;
    &:before{
      position: absolute;
      left: 0px;
      top: 3px;
      text-align: right;
      width: 30px;
      counter-increment: counter;
      content: counters(counter,".") " . ";
    }
    .update,
    .file_view {
      font-size: .813em;
      color: #AAA;
      padding-left: 10px;
      float: none;
      margin-top: 5px;
      @media screen and (max-width: 767px) {
        display: inline-block;
        float: none;
        width: auto;
        margin-top: 0;
      }
      @include screen('xs_mobile') {
        display: none;
      }
    }
    .update {
      @media screen and (max-width: 767px) {
        margin-left: 5px;
      }
    }
    span{
      display: inline-block;
      margin-right: 1em;
      @include screen('mobile') {
        display: block;
        margin-bottom: .3em;
      }
    }
  }
  a {
    &:hover,
    &:focus {
    }
    .kb {
      font-size: .75em;
      color: #666;
      display: inline-block;
      margin: 0px .5em;
    }
    &.doc,&.odf,&.pdf,&.xls,&.ppt,&.ppt,&.jpg,&.mp3,&.mov,&.txt,&.dot,&.zip,&.other{
      width: 21px;
      height: 24px;
      display: inline-block;
      margin-right: 4px;
      text-indent: -9999px;
      vertical-align: text-bottom;
    }
    &.doc{
      background: url(../images/basic/icon_doc.jpg);
    }
    &.odf{
      background: url(../images/basic/icon_odf.jpg);
    }
    &.pdf{
      background: url(../images/basic/icon_pdf.jpg);
    }
    &.xls{
      background: url(../images/basic/icon_xls.jpg);
    }
    &.ppt{
      background: url(../images/basic/icon_ppt.jpg);
    }
    &.jpg{
      background: url(../images/basic/icon_jpg.jpg);
    }
    &.mp3{
      background: url(../images/basic/icon_mp3.jpg);
    }
    &.mov{
      background: url(../images/basic/icon_mov.jpg);
    }
    &.txt{
      background: url(../images/basic/icon_txt.jpg);
    }
    &.dot{
      background: url(../images/basic/icon_doc.jpg);
    }
    &.zip{
      background: url(../images/basic/icon_zip.jpg);
    }
    &.other{
      background: url(../images/basic/icon_other.jpg);
    }

  }
}
// 外部連結
.web_link {
  width: 100%;
  margin: 0 auto;
  @extend %clearfix;
  ol,
  ul {
    counter-reset: counter;
    list-style-type: none;
    padding: 0;
        // margin-left: 1em;
        // @media screen and (max-width: 767px) {
        //     margin-left: 0;
        // }
      }
      li {
        position: relative;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #EEE;
        a {
          padding: .2em 0px .2em 35px;
          position: relative;
          height: auto;
          line-height: 1.45em;
          display: block;
          @include aSetting_nocolor;
          &:before {
                position: absolute; // outline: 1px solid red;
                top: 5px;
                left: 0px;
                text-align: right;
                width: 30px;
                counter-increment: counter;
                content: counters(counter, ".") " . ";
              }
            }
          }
        }