// 首頁區塊設定
div.more {
  text-align: right;
  margin-bottom: 20px;
  position: relative;
  clear: both;
  @include screen('mobile') {
    text-align: center;   
  }
  a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-right: 60px;
    padding-left: 10px;
    line-height: 38px;
    vertical-align: middle;
    color: #333;
    letter-spacing: 1px;
    transition: all .3s linear;
    font-weight: bold;
    &:before {
      content: "";
      width: 38px;
      height: 38px;
      border-radius: 22px;
      display: inline-block;
      vertical-align: middle;
      border-left: 3px solid #000;
      border-right: 3px solid $primaryColor;
      border-top: 3px solid #000;
      border-bottom: 3px solid #000;
      position: absolute;
      right: 0;
      top: -3px;
      transition: all .3s linear;
    }
    &:after {
      content: "";
      width: 8px;
      height: 8px;
      border-left: 3px solid transparent;
      border-right: 3px solid $primaryColor;
      border-top: 3px solid $primaryColor;
      border-bottom: 3px solid transparent;
      position: absolute;
      right: 18px;
      top: 13px;
      transform: rotate(45deg);
      transition: all .3s linear;
    }
    &:hover,&:focus {
      color: $primaryColor;
      &:before {
        width: 100%;
        border-radius: 0;
        border-left: 3px solid $primaryColor;
        border-right: 3px solid $primaryColor;
        border-top: 3px solid $primaryColor;
        border-bottom: 3px solid $primaryColor;
      }
      &:after {
        animation: more .5s linear 0s infinite alternate;
      }
    }
    &:hover,&:focus{
      box-shadow: 0 0 0 0;
    }
  }
}
@keyframes more {
  0% {
    right: 22px;
  }

  100% {
    right: 30px;
  }
}
.main .container{
  background: #f7f7f7;
}
// 首頁輪播
.vertical_slider {
  width: 69%;
  height: auto;
  min-height: 310px;
  position: relative;
  overflow: hidden !important;
  margin: 0;
  background: #ddd;
  display: block;
  float: left;
  @include screen('tablet') {
    float: none;
    width: 100%;
    margin: 0 auto 0;
    overflow: hidden;
    background: transparent;
    min-height: 170px;
  }
  @media screen and (max-width: 340px) {
    min-height: 130px;
  }
  span {
    top: 90%;
    position: absolute;
  }
  ul {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    @include screen('tablet') {
      min-height: 170px;
      margin: 0;
    }
    @media screen and (max-width: 340px) {
      min-height: 130px;
    }
    li {
      position: absolute;
      display: block;
      top: 310px;
      width: 100%;
      height: 100%;
      @include box-sizing(border-box);
      @include screen('tablet') {
        min-height: 170px;
      }
      @media screen and (max-width: 340px) {
        min-height: 130px;
      }
      a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        @include box-sizing(border-box);
        @include screen('tablet') {
          min-height: 170px;
        }
        @media screen and (max-width: 340px) {
          min-height: 130px;
        }
        h3 {
          background: rgba(0, 0, 0, 0.7);
          width: 100%;
          height: 3em;
          line-height: 3em;
          color: #fff;
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 1;
          margin: 0;
          @include box-sizing(border-box);
          padding: 0 10em 0 1em;
          display: none;
          overflow: hidden;
          @include screen('tablet') {
            display: block;
            padding: 0 1em;
          }
          @media screen and (max-width: 340px) {
            height: 2.5em;
            line-height: 2.5em;
            font-size: 1em;
          }
        }
        img {
          width: 100%;
          height: 100%;
          @include screen('tablet') {
            width: 100%;
            height: auto;
            object-fit: contain;
          }
          // @media screen and(max-width: 991px) {
          //   width: 100%;
          //   height: 100%;
          //   object-fit: cover;
          // }
        }
        &:focus {
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            box-shadow: 0px 0px 0px 2px $primaryColor inset;
            z-index: 99;
          }
        }
      }
    }
  }
  .prev {
    position: absolute;
    top: 50%;
    left: 0;
    width: 45px;
    height: 72px;
    display: block;
    background: rgba(0,0,0,0.3);
    z-index: 89;
    text-indent: -9999px;
    color: transparent;
    margin-top: -36px;
    @media screen and (max-width: 340px) {
      height: 2.5em;
      line-height: 2.5em;
      font-size: 1em;
      width: 36px;
      height: 50px;
      margin-top: -25px;
    }
    &:before{
      content: "";
      width: 30px;
      height: 30px;
      display: block;
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
      transform: rotate(-45deg);
      margin-left: 15px;
      margin-top: 20px;
      @media screen and (max-width: 340px) {
        height: 20px;
        width: 20px;
        margin-left: 12px;
        margin-top: 15px;
      }
    }
    &:hover,
    &:focus {
      background: #fff;
      box-shadow: 0 0 0 0;
      &:before{
        border-top: 2px solid $primaryColor;
        border-left: 2px solid $primaryColor;
      }
    }
  }
  .next {
    position: absolute;
    top: 50%;
    right: 0;
    width: 45px;
    height: 72px;
    display: block;
    background: rgba(0,0,0,0.3);
    z-index: 89;
    text-indent: -9999px;
    color: transparent;
    margin-top: -36px;
    @media screen and (max-width: 340px) {
      height: 2.5em;
      line-height: 2.5em;
      font-size: 1em;
      width: 36px;
      height: 50px;
      margin-top: -25px;
    }
    &:before{
      content: "";
      width: 30px;
      height: 30px;
      display: block;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: rotate(45deg);
      margin-right: 15px;
      margin-top: 20px;
      @media screen and (max-width: 340px) {
        height: 20px;
        width: 20px;
        margin-right: 12px;
        margin-top: 15px;
      }
    }
    &:hover,
    &:focus {
      background: #fff;
      box-shadow: 0 0 0 0;
      &:before{
        border-top: 2px solid $primaryColor;
        border-right: 2px solid $primaryColor;
      }
    }
  }
}
/* right */
.vslider_menu {
  width: 31%;
  position: relative;
  z-index: 90;
  display: inline-block;
  float: right;
  @media screen and(max-width: 991px) {
    display: none;
  }
  ul {
    @include li-reset();
    li {
      display: block;
      width: 100%;
      height: 3em;
      font-size: 1em;
      background: #eaeaea;
      margin-bottom: 1px;
      position: relative;
      z-index: 90;
      &.active {
        &:before{
          content: "";
          width: 9px;
          height: 100%;
          display: block;
          position: absolute;
          left: -7px;
          top: 0;
          background: $linkColor;
          z-index: 91;
          border-bottom: 1px solid #fff;
        }
        a {
          color: #fff;
          background: $linkColor;
        }
      }
      a {
        display: block;
        padding: 10px 20px;
        width: 100%;
        height: 100%;
        line-height: 300%;
        font-size: 1.125em;
        color: #333;
        text-align: left;
        @include box-sizing(border-box);
        white-space: nowrap;
        text-overflow:ellipsis;
        overflow: hidden;
        &:hover,
        &:focus {
          box-shadow: 0 0 0 0;
          &:before{
            content: "";
            width: 9px;
            height: 100%;
            display: block;
            position: absolute;
            left: -7px;
            top: 0;
            background: $linkColor;
            z-index: 91;
            border-bottom: 1px solid #fff;
          }
          color: #fff;
          background: $linkColor;
          outline-color: $linkColor;
        }
      }
    }
  }
}

.top_block {
  background: #f5f5f5;
  display: block;
  clear: both;
  padding-bottom: 40px;
  @include screen('mobile') {
    background: #fff;
    padding-bottom: 0;
  }
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}
.bottom_block{
  overflow: hidden;
  padding-top: 15px;
  background:url(../images/bg1.jpg) left top no-repeat,url(../images/bg2.jpg) left bottom no-repeat;
  background-size: contain;
}
.news_block {
  @include make-xs-column(12);
  @include make-sm-column(12);
  @include make-md-column(8);
  @include make-lg-column(8);
  @include box-sizing();
  @include gutter(100px);
  position: relative;
  @include screen('mobile') {
    padding-left: 30px;
    padding-right: 30px;
  }
  &:after {
    content: "";
    width: 94%;
    height: 100%;
    display: block;
    position: absolute;
    left: 30px;
    top: -12px;
    background: #f2f2f2;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    z-index: 10;
    @include screen('tablet') {
      display: none;
    }
  }
  .tabSet {
    margin: 38px auto 20px auto;
    position: relative;
    z-index: 11;
    @media screen and (max-width: 340px) {
      margin-top: 20px;
    }
    .tabs {
      &>.tabItem {
        border-top: 10px solid #f2f2f2;
        border-bottom: 10px solid #f2f2f2;
        @include screen('mobile') {
          border-top: 1px solid #000;
          border-bottom: 0px solid #f2f2f2;
        }
        &>a {
          @include screen('mobile') {
            border-top: 0px solid #f2f2f2;
            background: #f2f2f2;
          }
        }
        &.active{
          border-top: 10px solid $primaryColor;
          border-bottom: 10px solid $primaryColor;
          @include screen('mobile') {
            border-top: 1px solid #000;
            border-bottom: 0px solid #f2f2f2;
          }
          a{     
            background: $primaryColor;
            cursor: pointer;
            @include screen('mobile') {
              border-top: 1px solid #f2f2f2;
            }
            &:hover,&:focus{
              box-shadow: 0 0 0 0;
            }
          }
        }
      }
    }
  }
  .tabContent {
    padding: 30px 0 0 0;
    @include screen('mobile') {
      padding: 20px 0 0 0;
    }
    li {
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      padding: .7em 0;
      border-bottom: 1px #dee0e0 solid;
      &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        @include screen('mobile') {
          border-bottom: 1px #dee0e0 solid;
          margin-bottom: .7em;
        }
      }
      a {
        color: #333;
      }
      time {
        display: inline-block;
        margin: 0 1em 0 0;
        font-family: "baskerville";
        color: #595959;
        font-size: 1.125em;
        letter-spacing: .5px;
      }
    }
  }
}

.video_block {
  @include make-xs-column(12);
  @include make-sm-column(12);
  @include make-md-column(4);
  @include make-lg-column(4);
  @include box-sizing();
  position: relative;
  background: #f5f5f5;
  padding-right: 48px;
  @include screen('tablet') {
    padding-right: 30px;
    background: #fff;
  }
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: -50px;
    top: 0;
    background: #fff;
    z-index: 9;
    padding-right: 50px;
    @include screen('tablet') {
      display: none;
    }
  }
  .video_slider {
    position: relative;
    z-index: 10;
    .slick-prev,
    .slick-next {
      top: 75px;
      margin-top: 0;
      @include screen('tablet') {
        top: 45%;
      }
    }
    .slick-prev {
      left: 0;
      &:hover,&:focus{
        box-shadow: 0 0 0 0;
      }
    }
    .slick-next {
      right: 0;
      &:hover,&:focus{
        box-shadow: 0 0 0 0;
      }
    }
    .video {
      .pic {
        margin-bottom: 25px;
      }
      .date {
        font-family: "baskerville";
        color: #595959;
        font-size: 1.125em;
        font-weight: 600;
        letter-spacing: .5px;
        margin-bottom: 5px;
      }
      p {
        margin-top: 0;
        font-weight: bold;
        line-height: 1.8em;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        margin-bottom: 20px;
        overflow: hidden;
        height: 7.2em;
        letter-spacing: .5px;
      }
      a {
        color: #333;
      }
    }
  }
  h2,.more {
    z-index: 12;
  }
  h2 {
    position: relative;
    text-align: center;
    color: #333;
    font-size: 1.625em;
    margin-top: 34px;
  }
  .more {
    margin-bottom: 30px;
  }
}
.key_indicators_block,
.service_block,
.policy_block,
.issue_block,
.link_block,
.adSlider {
  @include make-xs-column(12);
  @include make-sm-column(12);
  @include make-md-column(12);
  @include make-lg-column(12);
  @include box-sizing();
  margin-bottom: 10px;
  h2 {
    text-align: center;
    color: #343434;
    letter-spacing: 2px;
  }
  .inner{
    background: #fefcfc;
    padding:20px 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  }
}

.key_indicators_block { 
  .tabSet{
    max-width: 100%;
    overflow: inherit;
    clear: both;
    position: relative;
    &:after{
      content: "";
      clear: both;
      display: block;
    }
  }
  .tabs{
    position: relative;
    .tabItem{
      width: 49%;
      position: relative;
      z-index: 9;
      display: block;
      margin: 0 0 10px 0;
      padding: 0;
      clear: both;
      background: #fff;
      border: 0;
      box-shadow: 0 0 5px rgba(0, 0, 0, .1);
      float: none;
      letter-spacing: .02em;
      &:before{
        content: "";
        width: 10px;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background: $primaryColor;
        z-index: 10;
        transition: all .3s linear;
      }
      a{
        border: 0;
        padding: 20px 20px 20px 30px;
        text-align: right; 
        cursor: pointer;
        &:before,&:after{
          display: none;
        }
        &:hover, &:focus {
          box-shadow: 0 0 0 0;
        }
      }
      h3{
        font-size: 1.25em;
        font-weight: normal;  
        margin: 0;
        float: left;
        position: relative;
        z-index: 11;
        transition: all .3s linear;
        width: 65%;
        white-space: normal;
        text-align: left;
        @include screen('mobile') {
          width: 100%;
        }
      }
      span.date{
        display: inline-block;
        color: #777;
        font-size: 0.938em;
        margin-top: 6px;
        float: left;
        clear: left;
        position: relative;
        z-index: 11;
        transition: all .3s linear;
      }
      span.info{
        font-family: "Century Gothic";
        color: #333;
        position: relative;
        z-index: 11;
        transition: all .3s linear;
        @include screen('mobile') {
          clear: left;
          display: block;
        }
        em{
          font-size: 2em;
          font-style: normal;
        }
      }
      &:hover{
        border:0;
        &:before{
          content: "";
          width: 100%;
          height: 100%;
        }
        a{
          h3,span.date,span.info{
            color: #fff;
          }
        }
      }
      &.active{
        border:0;
        a{
          h3,span.date,span.info{
            color: #fff;
          }
        }
      }
    }
    .tabContent {
      position: absolute;
      top: 0;
      right: 0;
      left: auto;
      clear: both;
      padding: 0;
      display: none;
      height: 535px;
      width: 49%;
      text-align: left;
      z-index: 11;
      @include box-sizing(border-box);
      @include screen('mobile') {
        width: 100%;
        position: relative;
        margin-bottom: 20px;
        height: auto;
      }
      .key_chart{
        width: 100%;
        height: 354px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .1);
        background: #fff;
        @include screen('mobile') {
          height: auto;
          overflow: hidden;
          overflow-x: auto;
        }
      }
      h3{
        background: #333;
        color: #fff;
        padding: 4px 10px;
        display: inline-block;
        border-radius: 3px;
        margin:10px 0 10px 0;
      }
      p{
        margin-top: 0;
        line-height: 1.8em;
        height: 3.6em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        color: #333;
        font-weight: bold;
      }
    }
  }
}
// 服務專區
// .service_block{
//   margin-bottom: 40px;
//   table{
//     background: #fdfbfb;
//     box-shadow: 0 0 5px rgba(0, 0, 0, .1);
//     overflow: hidden;
//   }
//   th{
//     font-size: 1.5em;
//     padding: .5em;
//     width: 140px;
//     white-space: nowrap;
//     @include box-sizing(border-box);
//     border: 1px solid #e2e1e1;
//     @include screen('mobile') {
//       width: 70px;
//       line-height: 120%;
//       white-space: normal;
//     }
//   }
//   td{
//     border: 1px solid #e2e1e1;
//     position: relative;
//     padding: 25px 20px 10px 20px;
//     box-shadow: 0 -2px 2px rgba(0,0,0,.05);
//     @include screen('mobile') {
//       padding: 25px 15px 10px 15px;
//     }
//   }
//   ul{
//     @include li-reset();
//     display: block;
//     overflow: hidden;
//     width: 95%;
//     @include screen('mobile') {
//       width: 85%;
//     }
//     li{
//       position: relative;
//       padding-left: 12px;
//       float: left;
//       width: 33%;
//       @include box-sizing(border-box);
//       margin-bottom: 15px;
//       @include screen('mobile') {
//         width: 100%;
//       }
//       a{
//         color: #111;
//         &:hover, &:focus {
//           // box-shadow: 0 0 0 0;
//           text-decoration: underline;
//         }
//       }
//       &:before{
//         content: "";
//         width: 4px;
//         height: 4px;
//         display: block;
//         position: absolute;
//         left: 0;
//         top: 10px;
//         background: #111;
//       }
//     }
//   }
//   ul~ul{
//     display: none;
//   }
//   .more{
//     position: absolute;
//     right: 0;
//     top: 6px;
//     a{
//       color: #333;
//       position: relative;
//       // padding-right: 55px;
//       @include screen('mobile') {
//         padding-right: 0;
//         text-indent: -9999px;
//       }
//       &:before,&:after{
//         content: "";
//         position: absolute;
//         width: 15px;
//         height: 15px;
//         display: block;
//         right: 28px;
//         border-right: 2px solid $primaryColor;
//         border-bottom: 2px solid $primaryColor;
//         border-top:0px; 
//         border-left:0px; 
//         z-index: 13;
//         border-radius: 0;
//         transform: rotate(45deg);
//       }
//       &:before{
//         top: 0;
//       }
//       &:after{
//         top: 9px;
//       }
//       &:hover,&.active,&:focus{
//         &:before,&:after{
//           content: "";
//           position: absolute;
//           width: 15px;
//           height: 15px;
//           display: block;
//           right: 28px;
//           border-right: 2px solid $primaryColor;
//           border-bottom: 2px solid $primaryColor;
//           border-top:0px; 
//           border-left:0px; 
//           z-index: 13;
//           border-radius: 0;
//           transform: rotate(45deg);
//         }
//         &:before{
//           top: 9px;
//         }
//         &:after{
//           animation: servicemore .5s linear 0s infinite alternate;
//         }
//       }
//     }
//   }
// }
// @keyframes servicemore {
//   0% {
//   }
//   100% {
//   }
// }
.service_block{
  margin-bottom: 66px;
  @include screen('mobile') {
    margin-bottom: 30px;
  }
  ul{
    @include li-reset();
    display:flex;
    @include screen('mobile') {
      display: block;
    }
  }
  li{
    border-top: 10px solid $primaryColor;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    background: #fefcfc;
    padding: 22px 12px 50px 12px;
    width: 24%;
    margin-right: 0;
    margin-left: 1.33%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
    @include screen('mobile') {
      width: 100%;
      margin-left: 0;
      margin-bottom: 15px;
      display: block;
    }
    &:first-child{
      margin-left: 0;
    }
    .more{
      text-align: center;
      margin-bottom: 0;
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 100%;
      letter-spacing: 2px;
      a{
        text-decoration: none;
        display: inline-block;
        position: relative;
        padding-right: 0;
        padding-left: 0;
        line-height: auto;
        vertical-align: middle;
        color: #333;
        letter-spacing: 1px;
        transition: background .3s linear;
        font-weight: bold;
        &:before{
          display: none;
        }
        &:after{
          content: "";
          width: 18px;
          height: 18px;
          border-left: 0;
          border-right: 0;
          border-top: 0;
          border-bottom: 0;
          position: relative;
          right: auto;
          top: auto;
          transform: rotate(0deg);
          transition: all .3s linear;
          background:url(../images/arrow2.png) left top no-repeat;
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;
        }
        &:hover,&:focus {
          color: $primaryColor;
          &:before {
            display: none;
          }
          &:after {
            animation: all 0s linear 0s infinite alternate;
          }
        }
      }
    }
  }
  dl{
    margin: 0;
  }
  dt{
    font-size: 1.25em;
    color: #333;
    padding-bottom: 18px;
    border-bottom: 2px solid #0d0c0c;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
  }
  dd{
    position: relative;
    padding-left: 12px;
    @include box-sizing(border-box);
    margin:0 0 15px 0;
    &:before{
      content: "";
      width: 4px;
      height: 4px;
      display: block;
      position: absolute;
      left: 0;
      top: 10px;
      background: #111;
    }
    a{
      color: #333;
      &:hover{
        text-decoration: underline;
        color: $primaryColor;
      }
    }
  }
}

// 重大政策
.policy_block{
  .slick-list{
    padding-bottom: 10px;
  }
  ul{
    list-style: none;
    padding: 5px 0;
    margin: 0 0 15px 0;
    @include make-row(20px);
    &:after{
      content: "";
      clear: both;
      display: block;
    }
  } 
  li{
    // width: 32.5%;
    float: left;
    padding:0 10px;
    vertical-align: top;
    position: relative;
    
    @include screen('mobile') {
      width: 100%;
      margin-right: 0;
    }
    &:last-child{
      margin-right: 0;
    }
    a{
      color: #333;
      padding: 34px 12px 32px 92px;
      @include box-sizing();
      display: block;
      background: #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, .1);
      position: relative;
      // @include screen('tablet') {
      //   padding: 30px 20px;
      // }
      span{
        height: 2.9em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        display: inline-block;
        @include screen('mobile') {
          text-align: center;
        }
      }
      &:before{
        content: "";
        width: 70px;
        height: 70px;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        left: 12px;
        top: 22px;
      }
      &:hover,&:focus{
        text-decoration: underline;
        &:before{
          animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        }
      }
    }
    &.press a:before{
      background: url(../images/icon_policy1.png) ;
      background-size: cover;
    }
    &.reference a:before{
      background: url(../images/icon_policy2.png) ;
      background-size: cover;
    }
    &.slides a:before{
      background: url(../images/icon_policy3.png) ;
      background-size: cover;
    }
  }
}
@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
// 焦點金融議題
.issue_block{
  margin-bottom: 40px;
  .issue{
    .issue_pic{
      width: 100%;
      max-height: 385px;
      text-align: center;
      position:relative;
      overflow:hidden;
      @include screen('mobile') {
        height: auto;
      }
      a{
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        max-height: 385px;
        z-index: 98;
        @include aspect-ratio(896, 369);
        img{
          max-width: 100%;
        }
        &:focus{
          &:after{
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 99;
            box-shadow: 0 0 0 2px #cba60f inset;
          }
        }
      }
    }
    .more{
      margin-top: 6px;
    }
  }
  .slick-prev {
    left: 0; 
  }
  .slick-next {
    right: 0;
  }
}
// 相關連結
.link_block{
  margin-bottom: 68px;
  @include screen('mobile') {
    margin-bottom: 30px;
  }
  .inner{
    background: #fefcfc;
    padding:20px 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    @include screen('mobile') {
      background: transparent;
      padding:0;
      box-shadow: 0 0 0 rgba(0, 0, 0, .1);
    }
  }
  h2{
    margin-bottom: 1em;
  }
  .tabSet{
    margin-bottom: 0;
  }
  .tabItem{
    letter-spacing: 1px;
    >a{
      @include screen('mobile') {
        background: #f3f3f3;
      }   
    }
  }
  .tabContent{
    padding:30px;
    @include screen('mobile') {
      padding: 20px 0;
      background: #fff;
    }
    ul{
    }
    li{
      position: relative;
      margin-bottom: 20px;
      font-size: 1em;
      font-weight: bold;
      @include make-xs-column(12);
      @include make-sm-column(6);
      @include make-md-column(4);
      @include make-lg-column(4);
      @include box-sizing();
      &:before{
        content: "";
        width: 4px;
        height: 4px;
        display: block;
        position: absolute;
        left: 30px;
        top: 12px;
        background: #111;
      }
      a{
        margin-left: 13px;
      }
    }
  }
  .more{
    margin-bottom: 0;
    margin-right: -30px;
    @include screen('mobile') {
      margin-right: 0;
    }
  }
}
// 廣告輪播
.adSlider {
  @include gutter(70px);
  margin-bottom: 70px;
  margin-left: 30px;
  margin-right: 30px;
  width: 93.5%;
  @include screen('mobile') {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    margin-bottom: 30px;
  }
  .slick-prev {
    background: url(../vendor/slick/icon_arrow_left_inverse.png) no-repeat center center;
    background-size: 80%;
    left: -15px;
  }
  .slick-next {
    background: url(../vendor/slick/icon_arrow_right_inverse.png) no-repeat center center;
    background-size: 80%;
    right: -15px;
  }
  .img-container {
    width: 165px;
    height: 80px;
    margin: 0px 15px;
    @include screen('mobile') {
      height: auto;
      margin: 0px 10px;
    }
    a {
      display: block;
      text-align: center;
      border: 1px solid #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, .1);
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 98;
      &:focus{
        &:after{
          content: "";
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 99;
          box-shadow: 0 0 0 2px #cba60f inset;
        }
      }
      img {
        margin: 0 auto;
      }
    }
    &:focus {
      &:before {
        content: "";
        position: absolute;
        z-index: 9;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        box-shadow: 0 0px 0px 3px $primaryColor inset;
      }
    }
  }
}
.fixed_right_block{
  width: 44px;
  text-align: center;
  position: fixed;
  bottom: 110px;
  right: 10px;
  z-index: 98;
  @include screen('mobile') {
    position: relative;
    width: 100%;
    bottom: auto;
    right: auto;
    background: $primaryColor;
    text-align: left;
    padding-left: 20px;
    @include box-sizing(border-box);
  }
  a{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: block;
    text-indent: -9999px;
  }
  a.right_menu{
    background: #222;
    display: block;
    width: 44px;
    height: 44px;
    position: absolute;
    right: 0;
    bottom: -44px;
    transition: ease-in .3s all;
    @include screen('mobile') {
      display: none;
    }
    &:before{
      content: '';
      margin: -1px 0 0 -7px;
      background: #FFF;
      display: block;
      width: 14px;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
    }
    &:after{
      content: '';
      margin: -1px 0 0 -7px;
      background: #FFF;
      display: block;
      width: 14px;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
      transform: rotate(90deg);
    }
    &.close{
      transform: rotate(45deg);
      background: #cba60f;
    }
  }
  ul{
    @include li-reset();
    opacity: 1;
    li{
      float: none;
      margin: 5px 0;
      @include screen('mobile') {
        display: inline-block;
      }
      a{
        &:hover,&:focus{
          box-shadow: 0 0 0 0;
        }
        &.facebook{
          background: #999 url(../images/icon_facebook.png) no-repeat center center;
          background-size: contain;
        }
        &.youtube{
          background: #999 url(../images/icon_youtube.png) no-repeat center center;
          background-size: contain;
        }
        &.flickr{
          background: #999 url(../images/icon_flickr.png) no-repeat center center;
          background-size: contain;
        }
        &.app{
          height: 55px;
          background: url(../images/icon_app.png) no-repeat center top;
          background-size: contain;
          border-radius: 0px;
        }
        &.epaper{
          background: #999 url(../images/icon_epaper.png) no-repeat center center;
          background-size: contain;

        }
        &.mailbox{
          background: #999 url(../images/icon_mail.png) no-repeat center center;
          background-size: contain;
        }
        &:hover,&:focus{
          &.facebook{
            background: #4067b4 url(../images/icon_facebook.png) no-repeat center center;
            background-size: contain;
          }
          &.youtube{
            background: #e22b26 url(../images/icon_youtube.png) no-repeat center center;
            background-size: contain;
          }
          &.flickr{
            background: url(../images/icon_flickr_.png) no-repeat center center;
            background-size: contain;
          }
          &.app{
            background: url(../images/icon_app_.png) no-repeat center top;
            background-size: contain;
          }
          &.epaper{
            background: #c60 url(../images/icon_epaper.png) no-repeat center center;
            background-size: contain;
          }
          &.mailbox{
            background: #bae040 url(../images/icon_mail.png) no-repeat center center;
            background-size: contain;
          }
        }
      }
    }
  }
}