// 自動產生編號：https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters
.np {
  ul,ol {
    overflow:hidden;
    padding:1em 0;
    margin: 0;
  }
  li {
    display: block;
    width: 48%;
    margin: 0 2% 10px 0;
    float: left;
    border-left: 4px solid $primaryColor;
    @include box-sizing(border-box);
    &:nth-child(even) {
     width: 50%;
     margin-right: 0px;
   }
   @include screen('mobile') {
    float:none;
    width: 96%;
    margin:0px auto 10px;
    &:nth-child(even){
      width: 96%;
      margin-right: auto;
    }
  }
  a {
    // border-radius:4px;
    @include gradient ($aHover, $primaryColor, horizontal);
    // background: $secondaryColor;  
    padding: 1.2em 4em 1.2em 2.2em;
    display: block;
    vertical-align: top;
    @include text-overflow;
    position:relative;
    color: #fff;
    // border: 2px solid $secondaryColor;
    // border-left: 0;
    &:before{
      content: "";
      width: 4px;
      height: 4px;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transform: rotate(-45deg);
      position: absolute;
      right: 16px;
      top: 50%;
      margin-top: -2px;
      z-index: 10;
      display: none;
    }
    &:after{
      content: "";
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -7px;
      width: 15px;
      height: 15px;
      display: none;
      background:$primaryColor;
      border-radius: 50%;
      z-index: 9;
    }
    .num{
      position: absolute;
      width:1em;
      top: 1.2em;
      left: .8em;
      text-align: right;
      &:after{
        content:".";
        display:inline-block;
      }
    }
    &:hover,
    &:focus {
      color: $aHover;
      // border: 2px solid $primaryColor;
      // border-left: 0;
      background: $secondaryColor;  
      box-shadow: 0 0 0 0;
      &:before,&:after{
        display: block;
      }
    }
  }
}
}
