body {
    background: #d8d8d8 url(../images/bg.gif) repeat-x left top;
    &.noscroll {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }
}

// 最外圍預設為100%
.wrapper {
    // width: 100%;
    max-width: $container-max;
    margin: 0px auto;
    background: #fff;
    // @include screen('mobile') {
    //     background: #FFF;
    // }
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
    padding: 0;
    margin: 0 auto;
    max-width: $container-max; //請看_variable.scss
}

.main {
    background: #f7f7f7;
    position: relative;
    margin: 0 auto;
    padding: 0; // max-width: $container-max;
    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    @include screen('mobile') {
        padding-top: 55px;
    } // 內頁標題設定
    h2.title {
        line-height: 1.25em;
        position: relative;
        border-bottom: 4px solid #4a7aad;
        display: inline-block;
        padding-bottom: 5px;
        font-size: 1.75em;
        @include screen('mobile') {
            text-align: center;
        }
        // &:after{
        //     content: "";
        //     width: 220px;
        //     height: 4px;
        //     background: $primaryColor;
        //     position: absolute;
        //     left: 0;
        //     bottom: -10px;
        //     @include screen('mobile') {
        //         width: 100%;
        //     }
        // }
    }
}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
    padding:2em;
    background: #fcfcfc;
    &.npbg{
        background: #fcfcfc url(../images/bg2.gif)  center bottom repeat-x;
    }
    @include screen('mobile') {
        padding: 5em 0 0 0;
    }
    >.container {
        @include gutter(); //gutter 代表左右要留白
        background: transparent!important;
    }
    &.small_size {
        font-size: .938em;
    }
    &.large_size {
        font-size: 1.125em;
    }
}

